html, body, p{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #CDE2ED;
}

header > .fabDepanContact{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header > .fabDepanContact > div{
    display: flex;
    justify-content: center;
    padding: 15px 15px;
}

header > .fabDepanContact > div:nth-of-type(1){
    padding-left: 0;
}

header > .fabDepanContact > div i{
   margin-right: 8.5px;
   color: #0C2F53;
   font-size: 20px;
}

header > .fabDepanContact > div p{
    font-family: 'Lato', sans-serif;
    color: #0C2F53
 }

nav{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav i{
    display: none !important;
}

nav li{
    padding: 20px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    cursor: pointer;
    white-space: nowrap;
}

nav a{
    text-decoration: none;
    color: #2D58A8;
}


nav li:hover{
    background-color: #2D58A8;
    color: white;
}

nav img{
    width: 130px;
}

.depanRDV{
    background-color: #FA6E50;
    border-radius: 20px;
    border: none;
    padding: 11px 17.5px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    width: 160px;
    text-align: center;
    white-space: nowrap;

}

main{
    width: 100%;
    height: 640px;
    background-image: linear-gradient(rgba(12, 47, 83, 0.5), rgba(12, 47, 83, 0.5)),
                  url('./img/imgMain.png');
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

main > div{
    width: 700px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 15%;
}

main > div > .depanTitle {
    border-left: solid #FA6E50 5px;
    padding-left: 20px;

}

main > div > .depanTitle h1{
    font-size: 20px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

main > div > .depanTitle h2{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 0;
    margin-top: 17.5px;

}

main > div > p{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-left: 25px;
    margin: 30px 0;
}

main > div > a{
    margin-left: 25px;

}

#services{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}

#services > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 640px;
    width: 80%;
}


#services > div > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 90%;
}

#services > div > div:nth-of-type(1) img{
   width: 425px;
   height: 100%;
}

#services > div > div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
    height: 90%;
}



#services > div > div:nth-of-type(2) > div{
    width: 85%;
    position: relative;
}

#services > div > div:nth-of-type(2) h3{
    margin-top: 0;
    align-self: flex-start;
    color: #0C2F53;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;

}

#services > div > div:nth-of-type(2) span{
    color: #2D58A8;
    font-weight: 900;
}

#services > div > div:nth-of-type(2) > div > p{
    font-family: 'Lato', sans-serif;
    color: #0C2F53;
    font-size: 15px;
}

#services > div> div:nth-of-type(2) > div > div {
    display: flex;
    flex-wrap:wrap;
    margin-top: 30px;
    max-width: 600px;
    justify-content: space-between;
}

#services > div> div:nth-of-type(2) > div .orangeBorder{
    width: 5px;
    height: 30px;
    background-color: #FA6E50;
    position: absolute;
    left: -25px;
    top: 5px;
    margin: 0;
}

#services> div  > div:nth-of-type(2) > div > div > .service{
    max-width: 45%;
    padding-right: 15px;
    padding-bottom: 25px;
}

#services> div  > div:nth-of-type(2) > div > div > .service > div > p:nth-of-type(1){
    color: #2D58A8;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

#services > div > div:nth-of-type(2) > div > div > .service > div > p:nth-of-type(2){
    color: #0C2F53;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#services > div> div:nth-of-type(2) img{
    width: 50px;
    margin-bottom: 10px;
}

#devis{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0C2F53;
    color: white;
    padding: 45px 0;
    padding-bottom: 60px;
}

#devis > div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

#devis > div:nth-of-type(1) h4{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 12.5px;
}

#devis > div:nth-of-type(1) p{
    font-size: 24px;
    font-weight: 900;
}

#devis > div:nth-of-type(1) > div{
    display: flex;
    align-items: center;
}

#devis > div:nth-of-type(1) > div > div{
    width: 125px;
    height: 5px;
    background-color: #FA6E50;
    margin-right: 20px;
}

#devis > div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 900px;
    padding-top: 60px;
 }

 
#devis > div:nth-of-type(2) div{
   display: flex;
   flex-direction: column;
   font-family: 'Lato', sans-serif;
   position: relative;
}

#devis > div:nth-of-type(2) div > p:nth-of-type(1){
   font-weight: 900;
   font-size: 18px;
}

#devis > div:nth-of-type(2) div > p:nth-of-type(2){
    font-size: 16px;
}

#devis > div:nth-of-type(2) div > i{
    opacity: 0.3;
    font-size: 80px;
    position: absolute;
}

#devis > div:nth-of-type(2) div:nth-of-type(1) > i{
    left: -50px;
    bottom: -20px;
}

#devis > div:nth-of-type(2) div:nth-of-type(2) > i{
    left: -60px;
    bottom: -30px;
    font-size: 90px;
}
 
#devis > div:nth-of-type(2) div:nth-of-type(3) > i{
    left: -25px;
    bottom: -20px;
}

#aPropos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
    height: 500px;

}

#aPropos > div > div:nth-of-type(1){
   width: 80%;
   position: relative;
   margin: 0 auto;

}

#aPropos > div:nth-of-type(1){
    width: 65%;
    height: 100%;
}

#aPropos > div:nth-of-type(2){
    width: 35%;
    height: 100%;
}

#aPropos > div:nth-of-type(2) > div{
    width: 100%;
    height: 100%;
}

#aPropos > div:nth-of-type(2) > div > div{
    width: 100%;
    height: 100%;
}

#aPropos  > div > div:nth-of-type(1) > .orangeBorder{
    width: 5px;
    height: 30px;
    background-color: #FA6E50;
    position: absolute;
    left: -25px;
    top: 2.5px;
    margin: 0;
}

#aPropos  > div > div:nth-of-type(1){
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 0;
    color: #0C2F53;
}

#aPropos > div:nth-of-type(1){
    color: #2D58A8;
}


#aPropos  > div > div:nth-of-type(1) div:nth-of-type(2){
   width: 100%;
   height: 3px;
   background-color: #E0E0E0;
   margin: 15px 0;
}


#aPropos  > div > div:nth-of-type(1) > p:nth-of-type(1){
    color: #0C2F53;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

#aPropos  > div > div:nth-of-type(1) span{
    color: #2D58A8;
    font-weight: 900;
}

#aPropos > div> div:nth-of-type(1) > p:last-of-type{
    margin: 20px 0;

}

#aPropos > div .location{
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
}


#aPropos > div .location i{
    margin-right: 10px;
}

#price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-image: url('./img/tarifImg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#price > p:nth-of-type(1){
    font-size: 26px;
    margin-top: 0;
    color: white;
}

#price > p:nth-of-type(2){
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}

#price > div:nth-of-type(1){
    width: 125px;
    height: 5px;
    background-color: white;
    margin-bottom: 50px;
}


#price > div:nth-of-type(2) > div{
    width: 600px;
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px 0;
    margin: 0 20px;
}

#price > div:nth-of-type(2) > div > p:nth-of-type(1){
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #0C2F53;
    margin-top: 25px;

}


#price > div:nth-of-type(2){
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

#price > div:nth-of-type(2) > div > div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 12.5px 0px;
}

#price > div:nth-of-type(2) > div > div > p:nth-of-type(1){
    font-family: 'Lato', sans-serif;
    color: #2D58A8;
    font-size: 20px;
    font-weight: bold;
}

#price > div:nth-of-type(2) > div > div > p span{
    color: #afa4a4;
    font-size: 16px;
}

#price > div:nth-of-type(2) > div > div > p:nth-of-type(2){
    font-family: 'Lato', sans-serif;
    color: #0C2F53;
    font-size: 18px;
    font-weight: 500;
}

#contact{
    background-color: #0C2F53;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 35px;
}

#contact > div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
    font-family: 'Lato', sans-serif;

}

#contact > div > div{
    display: flex;
    flex-direction: column;
    min-height: 145px;
    width:330px;
}

#contact > div > div > p:nth-of-type(1){
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#contact > div > div:nth-of-type(1) > p:nth-of-type(1){
    margin-bottom: 16px;
}

#contact > div > div:nth-of-type(2) div{
    display: flex;
}

#contact > div > div:nth-of-type(2) ul{
    padding: 0;
    padding-right: 30px;
    list-style: none;
}

#contact > div > div:nth-of-type(2) li{
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    color: white;
}

#contact > div > div:nth-of-type(2) a{
    text-decoration: none;
}

#contact > div > div:nth-of-type(3) div div{
    display: flex;
    margin: 10px 0;
}

#contact > div > div:nth-of-type(3) div div p{
    padding-left: 20px;
}

#contact > div > div:nth-of-type(3) > p:nth-of-type(1){
    margin-bottom: 6px;
}

.confidentiality{
    border-top: solid 1px #6A87A5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0C2F53;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 30px 0;
    font-weight: bold;
}

.confidentiality > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.confidentiality > div{
   width: 90%;
   text-align: center;
}

.confidentiality > div > div > div{
    width: 3px;
    height: 20px;
    background-color: #1F4B77;
    margin: 0 20px;
    font-size: 16px;

}

.confidentiality > div > p{
    font-size: 14px;
    color: #6A87A5;
    margin-top: 10px;
}

.burger{
    display: none;
    z-index: 100;
}

.italic {
    font-style: italic;
}